<% include ./partials/header %>

<style>
        .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-gap: 1px;
        padding: 10px;
        }
        
        .grid-container > div {
        border: 1px solid black;
        height: 100px;
        font-size: 15px;
        }
    
        .jumbotron-texture {
        position: relative;
        /*background: #000 url("https://images.unsplash.com/photo-1532460734809-e7f8475ca917?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50d580f73ea6fca23de0f66952622a0f&auto=format&fit=crop&w=2642&q=80") center center;*/
        width: 100%;
        height: 100%;
        background-size: cover;
        color: #fff;
        }
    
</style>
    
      <div class = "container-fluid">
          
            <div class = "jumbotron jumbotron-fluid bg-danger text-white jumbotron-texture" style = "text-align: center; margin-top: 30px;">
                <div class = "container">
                    <h1>Old Town Pizza Employee Schedule</h1>
                    <a class = "text-dark" href = "/">Back to Lobby...</a>
                </div>
          </div>
          
    <h1 style="text-align:center">
        January 2019
    </h1>
    
<div class="grid-container">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  
  <div>8</div>
  <div>9</div>
  <div>10</div>
  <div>11</div>
  <div>12</div>
  <div>13</div>
  <div>14</div>
  
  <div>15</div>
  <div>16</div>
  <div>17</div>
  <div>18</div>
  <div>19</div>
  <div>20</div>
  <div>21</div>
  
  <div>22</div>
  <div>23</div>
  <div>24</div>
  <div>25</div>
  <div>26</div>
  <div>27</div>
  <div>28</div>
  
  <div>29</div>
  <div>30</div>
  <div>31</div>
</div>
    
    
<% include ./partials/footer %>